{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
<title>POSICIONES</title>

<br>
<br>
<br>
<div class="container text-center bg-white text-dark border rounded" id="contenedor_general">
  <div class="row align-items-start">
    <div class="col-12">
      <br>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Posición</h2>
        <a href="{% url 'crear_cargo' %}" class="btn btn-primary float-end" id="boton-crear">Crear Posición</a>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group row">
        <div class="col-md-2">
          <select id="filtroCampo" class="form-select">
            <option value="0">ID de la Posición</option>
            <option value="1">Nombre de la Posición</option>
            <option value="2">Área</option>
            <option value="3">Fecha de Creación</option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="text" id="busqueda" class="form-control" placeholder="Buscar...">
        </div>
      </div>
      <br>
    </div>

    <div class="col-12 table-responsive">
      <table class="table table-striped table-hover table-bordered border-secondary table align-middle" id="tblcargos">  
        <thead class="thead-dark align-middle">
          <tr id="tabla-header">
            <th scope="col" class="text-center">ID de la Posición</th>
            <th scope="col" class="text-center">Nombre de la Posición</th>
            <th scope="col" class="text-center">Área</th>
            <th scope="col" class="text-center">Fecha de Creación</th>
            <th scope="col" class="text-center">Detalles</th>
          </tr>
        </thead>
        <tbody>
          {% for cargo in cargos %}
          <tr>
            <td class="text-center">{{ cargo.id }}</td>
            <td class="text-center">{{ cargo.nombre_cargo }}</td>
            <td class="text-center">{{ cargo.area }}</td>
            <td class="text-center">{{ cargo.fecha_creacion }}</td>
            <td class="text-center">
              <a href="{% url 'detalles_cargo' cargo.id %}" class="btn btn-success" id="ver-mas">Ver Detalles</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<script>
  $(document).ready(function() {
    $('#tblcargos').DataTable({
      "pagingType": "simple_numbers", // Usamos el tipo de paginación simple con números de página
      "language": {
        "zeroRecords": "No se encontraron registros",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "No hay registros disponibles",
        "infoFiltered": "(filtrado de _MAX_ registros totales)",
        "paginate": {
          "first": "Anterior",
          "last": "Siguiente",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "search": "" // Desactiva el texto de búsqueda
      },
      "searching": true, // Habilitar la búsqueda
      "lengthChange": false // Desactiva el control de selección de registros por página
    });

    // Aplicar búsqueda por columna seleccionada
    $('#filtroCampo').change(function() {
      var columnIndex = $(this).val();
      $('#tblcargos').DataTable().column(columnIndex).search($('#busqueda').val()).draw();
    });

    // Aplicar búsqueda al escribir en la barra de búsqueda
    $('#busqueda').on('keyup', function() {
      var columnIndex = $('#filtroCampo').val();
      $('#tblcargos').DataTable().column(columnIndex).search(this.value).draw();
    });
  });
</script>



{% endblock contenido %}









