{% extends 'partials/body.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
  <title>CONTRATO DETALLES</title>

  <div class="contenedor" id="contenedor-contrato">
    <h2>CONTRATO</h2>
    <br>

    <!-- DATOS DE LA EMPRESA -->
    <div class="seccion-container">
      <div class="row">
        <div class="col">
          <h3>DATOS DE LA EMPRESA</h3>
          <br>
            <div class="row mb-3">
              <div class="col-md-4">
                <label for="razon_social" class="form-label">Razón social:</label>
                <span id="razon_social">{{ contrato.razón_social }}</span>
              </div>
              <div class="col-md-4">
                <label for="nit_empresa" class="form-label">NIT:</label>
                <span id="nit_empresa">{{ contrato.nit_empresa }}</span>
              </div>
              <div class="col-md-4">
                <label for="ubicacion" class="form-label">Ubicación:</label>
                <span id="ubicacion">{{ contrato.ubicacion }}</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="direccion_notificacion_judicial" class="form-label">Dirección para notificación judicial:</label>
                <span id="direccion_notificacion_judicial">{{ contrato.direccion_notificacion_judicial }}</span>
              </div>
              <div class="col-md-4">
                <label for="nombre_representante" class="form-label">Nombre completo del representante:</label>
                <span id="nombre_representante">{{ contrato.nombre_representante_legal }}</span>
              </div>
              <div class="col-md-4">
                <label for="cargo_representante" class="form-label">Cargo del representante legal:</label>
                <span id="cargo_representante">{{ contrato.cargo_representante_legal }}</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="tipo_documento_representante_legal" class="form-label">Tipo de documento de identidad:</label>
                <span id="tipo_documento_representante_legal">{{ contrato.tipo_doc_representante_legal }}</span>
              </div>
              <div class="col-md-4">
                <label for="numero_documento_representante_legal" class="form-label">Documento de identidad:</label>
                <span id="numero_documento_representante_legal">{{ contrato.numero_doc_representante_legal }}</span>
              </div>
              <div class="col-md-4">
                <label for="lugar_expedicion_documento_representante_legal" class="form-label">Lugar de expedición del documento:</label>
                <span id="lugar_expedicion_documento_representante_legal">{{ contrato.lugar_expedicion_doc_representante_legal }}</span>
              </div>  
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="correo_electronico_empleador" class="form-label">Correo electrónico:</label>
                <span id="correo_electronico_empleador">{{ contrato.correo_representante_legal }}</span>
              </div>
              <div class="col-md-4">
                <label for="celular_empleador" class="form-label">Celular del representante legal:</label>
                <span id="celular_empleador">{{ contrato.celular_representante_legal }}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

<!-- DATOS DEL EMPLEADO -->
<div class="seccion-container">
  <div class="row">
    <div class="col">
      <h3>DATOS DEL EMPLEADO</h3>
      <br>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="nombre_empleado" class="form-label">Nombre Completo:</label>
          <span id="nombre_empleado">{{ contrato.empleado.nombre_persona }}</span>
        </div>
        <div class="col-md-4">
          <label for="tipo_documento_empleado" class="form-label">Tipo de documento de identidad:</label>
          <span id="tipo_documento_empleado">{{ contrato.empleado.tipo_documento_persona }}</span>
        </div>
        <div class="col-md-4">
          <label for="numero_documento_empleado" class="form-label">Documento de identidad:</label>
          <span id="numero_documento_empleado">{{ contrato.empleado.numero_documento_persona }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label for="correo_empleado" class="form-label">Correo electrónico:</label>
          <span id="correo_empleado">{{ contrato.empleado.correo_persona }}</span>
        </div>
        <div class="col-md-4">
          <label for="celular_empleado" class="form-label">Celular:</label>
          <span id="celular_empleado">{{ contrato.empleado.celular_persona }}</span>
        </div>
        <div class="col-md-4">
          <label for="direccion_residencia_empleado" class="form-label">Dirección de residencia:</label>
          <span id="direccion_residencia_empleado">{{ contrato.empleado.direccion_residencia_persona }}</span>
        </div>
      </div>
    </div>
  </div>
</div>


    <!-- DATOS DEL CONTRATO -->
    <div class="seccion-container">
      <div class="row">
        <div class="col">
          <h3>DATOS DEL CONTRATO</h3>
          <br>
            <div class="row mb-3">
              <div class="col-md-4">
                <label for="id" class="form-label">ID de contrato:</label>
                <span id="id">{{ contrato.id }}</span>
              </div>
              <div class="col-md-4">
                <label for="tipo_contrato" class="form-label">Tipo de contrato:</label>
                <span id="tipo_contrato">{{ contrato.tipo_contrato }}</span>
              </div>
              <div class="col-md-4">
                <label for="estado" class="form-label">Estado:</label>
                <span id="estado">{{ contrato.estado }}</span>
              </div>
            </div>

            <div class="row mb-3">

              <div class="col-md-4">
                <label for="fecha_inicio" class="form-label">Fecha de inicio de labores:</label>
                <span id="fecha_inicio">{{ contrato.fecha_inicio }}</span>
              </div>
              <div class="col-md-4">
                <label for="fecha_terminacion" class="form-label">Fecha de terminación:</label>
                <span id="fecha_terminacion">{{ contrato.fecha_terminacion }}</span>
              </div>
              <div class="col-md-4">
                <label for="fecha_pre_aviso" class="form-label">Fecha de preaviso:</label>
                <span id="fecha_pre_aviso">{{ contrato.fecha_pre_aviso }}</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="duracion_contrato" class="form-label">Duración del contrato:</label>
                <span id="duracion_contrato">{{ contrato.duracion_contrato }}</span>
              </div>
              <div class="col-md-4">
                <label for="salario" class="form-label">Salario:</label>
                <span id="salario">{{ contrato.formato_salario }}</span>
              </div>
              <div class="col-md-4">
                <label for="cargo_contrato" class="form-label">Cargo:</label>
                <span id="cargo_contrato">{{ contrato.cargo_contrato }}</span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4">
                <label for="fecha_creacion_contrato" class="form-label">Fecha de creación del contrato:</label>
                <span id="fecha_creacion_contrato">{{ contrato.fecha_creacion_contrato }}</span>
              </div>
              <div class="col-md-4">
                <label for="fecha_creacion_contrato" class="form-label"># Contrato Vigente</label>
                <span id="fecha_creacion_contrato">{{ contrato.consecutivo }}</span>
              </div>
              <div class="col-md-4">
                <label for="fecha_creacion_contrato" class="form-label">Dias Restantes</label>
                <span id="fecha_creacion_contrato">{{ contrato.dias_restantes }}</span>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="seccion-container adjuntos">
      <h3>CONTRATO</h3>
      <br>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="adjunto_contrato" class="form-label">Documento</label>
          <a href="{{ contrato.adjunto_contrato.url }}" target="_blank" id="enlace_contrato">
            <span id="adjunto_contrato">
              <i class="bi bi-paperclip"></i>
            </span>
          </a>
        </div>
        <div class="col-md-4">
          <label for="fecha_carga_adjunto" class="form-label">Fecha de carga:</label>
          <span id="fecha_carga_adjunto">{{ contrato.fecha_carga_adjunto_contrato }}</span>
        </div>
      </div>
    </div>
    
    <script>
      var enlaceContrato = document.getElementById('enlace_contrato');
      
      var nombreContratoSpan = enlaceContrato.querySelector('span');
      
      nombreContratoSpan.innerHTML = '<i class="bi bi-paperclip"></i>';
      nombreContratoSpan.title = '{{ contrato.adjunto_contrato.name }}';
    </script>
    
    
    <br>

<!-- ADJUNTOS PREAVISO -->
<div class="seccion-container adjuntos">
  <h3>PREAVISO</h3>
  <br>
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="adjunto_preaviso" class="form-label">Documento</label>
      {% if contrato.adjunto_preaviso %}
      <a href="{{ contrato.adjunto_preaviso.url }}" target="_blank" id="enlace_preaviso">
        <span id="adjunto_preaviso">
          <i class="bi bi-paperclip"></i>
        </span>
      </a>
      {% else %}
      <span id="adjunto_preaviso">
        No hay preaviso adjunto.
      </span>
      {% endif %}
    </div>
  </div>
</div>


<script>
  var enlacePreaviso = document.getElementById('enlace_preaviso');
  var nombrePreavisoSpan = enlacePreaviso.querySelector('span');
  nombrePreavisoSpan.innerHTML = '<i class="bi bi-paperclip"></i>';
  nombrePreavisoSpan.title = '{{ contrato.adjunto_preaviso.name }}';
</script>

    <a href="{% url 'contratos' %}" class="btn btn-primary" id="boton-volver">Volver</a>
    <a href="{% url 'editar_contrato' contrato.id %}" class="btn btn-primary float-end" id="boton-editar">Editar</a>

  </div>

  <br>
  <br>
{% endblock contenido %}




