{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-0">
    <div class="container-fluid" id="navbar-container">
        <a class="navbar-brand" href="{% url 'principal' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-img" width="250" height="105">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Personas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownPersonas" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-people text-white"></i>
                        <span class="text-white">Personas</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPersonas">
                        <li>
                            <a class="dropdown-item" href="{% url 'personas' %}">
                                <i class="bi bi-list text-dark"></i>
                                <span class="text-dark">Ver Personas</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'crear_persona' %}">
                                <i class="bi bi-plus-circle text-dark"></i>
                                <span class="text-dark">Crear Persona</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <!-- Salud y Seguridad -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownSaludSeguridad" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-arms-up text-white"></i>
                        <span class="text-white">Salud y Seguridad</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSaludSeguridad">
                        <li>
                            <a class="dropdown-item" href="{% url 'personasSST' %}">
                                <i class="bi bi-person-rolodex text-dark"></i>
                                <span class="text-dark">SST Personas</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'adjuntar_documentoSST' %}">
                                <i class="bi bi-plus-circle text-dark"></i>
                                <span class="text-dark">Adjuntar Documento SST Persona</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'empresaSST' %}">
                                <i class="bi bi-archive text-dark"></i>
                                <span class="text-dark">SST Empresa</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'crear_empresaSST' %}">
                                <i class="bi bi-plus-circle text-dark"></i>
                                <span class="text-dark">Adjuntar Documento SST Empresa</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <!-- Contratación -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownContratacion" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-briefcase text-white"></i>
                        <span class="text-white">Contratación</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownContratacion">
                        <li>
                            <a class="dropdown-item" href="{% url 'contratos' %}">
                                <i class="bi bi-journal-text text-dark"></i>
                                <span class="text-dark">Contratos</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'crear_contrato' %}">
                                <i class="bi bi-plus-circle text-dark"></i>
                                <span class="text-dark">Crear Contrato</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'cargos' %}">
                                <i class="bi bi-person-vcard text-dark"></i>
                                <span class="text-dark">Posiciones</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'crear_cargo' %}">
                                <i class="bi bi-plus-circle text-dark"></i>
                                <span class="text-dark">Crear Posición</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Perfil -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}">
                        <i class="bi bi-person-circle text-white" width="250" height="105"></i>
                        <span class="text-white">Perfil</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
