{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<title>PERSONAS SST</title>
<div class="contenedor" id="contenedor-contrato">
  <h2>DETALLES DEL ADJUNTO</h2>
  <br>
  <div class="seccion-container">
    <div class="row">
      <div class="col">
        <h3>Documento</h3>
        <br>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="nombrePersona" class="form-label">Nombre:</label>
            <span id="nombrePersona">{{ personaSST.persona_SST.nombre_persona }}</span>
          </div>
          <div class="col-md-6">
            <label for="tipoDocumentoPersona" class="form-label">Tipo de Documento:</label>
            <span id="tipoDocumentoPersona">{{ personaSST.tipo_documento }}</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="numeroDocumentoPersona" class="form-label">Documento:</label>
            {% if personaSST.archivo %}
              <a href="{{ personaSST.archivo.url }}" target="_blank" id="enlace_archivo">
                <span>
                  <i class="bi bi-paperclip"></i>
                </span>
              </a>
            {% endif %}
          </div>
          <div class="col-md-4">
            <label for="correoPersona" class="form-label">Creado por:</label>
            <span id="correoPersona">{{ personaSST.creado_por }}</span>
          </div>
          <div class="col-md-4">
            <label for="celularPersona" class="form-label">Fecha de creación:</label>
            <span id="celularPersona">{{ personaSST.fecha_creacion }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="{% url 'personasSST' %}" class="btn btn-primary" id="boton-volver">Volver</a>
  <a href="{% url 'editar_personaSST' personaSST.id %}" class="btn btn-primary float-end" id="boton-editar">Editar</a>
</div>
</div>

<script>
  var enlaceArchivo = document.getElementById('enlace_archivo');
  if (enlaceArchivo) {
    var iconoClip = enlaceArchivo.querySelector('i');
    iconoClip.title = 'Descargar archivo adjunto';
  }
</script>

{% endblock contenido %}
